<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
    <title>Amadon</title>
  </head>
  <body>
    <div class="uk-container">
      <h3>Thank you for your business!</h3>
      <p>We charged your credit card for ${{total}}</p>
      <p>
        You have ordered #{{cantidad}} items so far and spent ${{gasto}} with
        Amadon.com!
      </p>
      <p><a href="/">Go Back</a></p>
    </div>
  </body>
</html>
